<div class="container my-5">
  <div class="d-flex justify-content-end my-1">
    <button type="button" class="btn btn-info" (click)="openFormTaskModal()">Aggiungi Task</button>
  </div>
  Fatti
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let todo of (todoList$ | async).todo">
            <th scope="row">1</th>
            <td>{{todo.title}}</td>
            <td>{{todo.description}}</td>
            <td>
              <!-- {{todo.status}} -->
              <div ngbDropdown class="d-inline-block">
                <span type="button" id="dropdownBasic1" ngbDropdownToggle>
                  {{todo.status}}
                </span>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button *ngFor="let type of typeTodoStatus" ngbDropdownItem (click)="changeStatus(type, todo.id)">{{type}}</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      Da fare
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let todo of (todoList$ | async).notTodo">
            <th scope="row">1</th>
            <td>{{todo.title}}</td>
            <td>{{todo.description}}</td>
            <td>
              <!-- {{todo.status}} -->
              <div ngbDropdown class="d-inline-block">
                <span type="button" id="dropdownBasic1" ngbDropdownToggle>
                  {{todo.status}}
                </span>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button *ngFor="let type of typeTodoStatus" ngbDropdownItem (click)="changeStatus(type, todo.id)">{{type}}</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
</div>